<div class="gocodee-gallery-thumbnails-wrapper gocodee-gallery-thumbnail-size-{{size}}">
    <div class="gocodee-gallery-thumbnails" [style.transform]="'translateX(' + thumbnailsLeft + ')'" [style.marginLeft]="thumbnailsMarginLeft">
        <a [href]="hasLinks() ? links[i] : '#'" [target]="linkTarget" class="gocodee-gallery-thumbnail" *ngFor="let image of getImages(); let i = index;"
            (click)="handleClick($event, i)" [style.width]="getThumbnailWidth()" [style.height]="getThumbnailHeight()"
            [style.left]="getThumbnailLeft(i)" [style.top]="getThumbnailTop(i)" [ngClass]="{ 'gocodee-gallery-active': i == selectedIndex, 'gocodee-gallery-clickable': clickable }"
            [attr.aria-label]="labels[i]">
            <image-view [src]="image"></image-view>
            <div class="gocodee-gallery-icons-wrapper">
                <gocodee-gallery-action *ngFor="let action of actions" [icon]="action.icon" [disabled]="action.disabled"
                    [titleText]="action.titleText" (onClick)="action.onClick($event, i)"></gocodee-gallery-action>
            </div>
            <div class="gocodee-gallery-remaining-count-overlay" *ngIf="remainingCount && remainingCountValue && (i == (rows * columns) - 1)">
                <span class="gocodee-gallery-remaining-count">+{{remainingCountValue}}</span>
            </div>
        </a>
    </div>
</div>
<gocodee-gallery-arrows *ngIf="canShowArrows()" (onPrevClick)="moveLeft()" (onNextClick)="moveRight()" [prevDisabled]="!canMoveLeft()"
    [nextDisabled]="!canMoveRight()" [arrowPrevIcon]="arrowPrevIcon" [arrowNextIcon]="arrowNextIcon"></gocodee-gallery-arrows>
